body {
	background: grey;
}

header {
	background: lightgrey;
}

nav {
	background: lightgrey;
}

section {
	background: lightgrey;
}

article {
	background: grey;
}

div {
	background: lightgrey;
}

aside {
	background: lightgrey;
}

footer {
	background: lightgrey;
}